@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f3f7;
}

a {
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #5a84a2;
  border-radius: 5rem;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
  -2px -2px 12px rgba(255, 255, 255, .5),
  inset 2px 2px 4px rgba(255, 255, 255, .1),
  2px 2px 8px rgba(0, 0, 0, .15)
}

a:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
  inset -2px -2px 12px rgba(255, 255, 255, .5),
  inset 2px 2px 4px rgba(255, 255, 255, .1),
  inset 2px 2px 8px rgba(0, 0, 0, .15)
}

a:hover span {
  display: inline-block;
  transform: scale(.98);
}